<div class="form-group table-responsive">
  <table class="table table-responsive">
    <tr>
      <th>
        Request ID
      </th>
      <th>
        NYL-ID
      </th>
      <th>
        Amount
      </th>
      <th>
        From
      </th>
      <th>
        To
      </th>
      <th>
        Approved By NYL
      </th>
      <th>
        Approved By Fidelity
      </th>
      <th>
        Approve Request
      </th>
    </tr>
    <tr *ngFor="let request of requestArray">
      <td>{{request.requestId}}</td>
      <td>{{request.NylId}}</td>
      <td>{{request.amount}}</td>
      <td>{{request.from}}</td>
      <td>{{request.to}}</td>
      <td><input type="checkbox" [disabled]="true" [(ngModel)]="request.approvedByNYL"/></td>
      <td><input type="checkbox" [disabled]="true" [(ngModel)]="request.approvedByFidelity"/></td>
      <td><button
        [disabled]="request.approvedByFidelity"
        (click)="approveFid(request.requestId)"
        class="btn btn-primary">
        Approve Request
      </button></td>
    </tr>
  </table>
</div>
