<div class="form-group table-responsive">
  <table class="table table-responsive">
    <tr>
      <th>
        NYL-ID
      </th>
      <th>
        Name
      </th>
      <th>
        Annuities Balance
      </th>
      <th>
        Long Term Balance
      </th>
      <th>
        Request Panel
      </th>
    </tr>
    <tr *ngFor="let user of userArray">
      <td>{{user.nylId}}</td>
      <td>{{user.name}}</td>
      <td>{{user.annuityBalance}}</td>
      <td>{{user.longTermBalance}}</td>
      <td><button
        (click)="approveFid(request.requestId)"
        class="btn btn-primary">
        Make Request
      </button></td>
    </tr>
  </table>
</div>
<br>
<div class="form-group form-group-lg">
  <form #registerUser="ngForm">
    <p class="control">
      <input
        [(ngModel)]="nylId"
        class="form-control"
        type="text"
        placeholder="NYL ID of the participant"
        name="nylId"
        required
        #sendingAmountModel="ngModel">
      <input
        [(ngModel)]="nameOfThePerson"
        class="form-control"
        type="text"
        placeholder="Name to be registered"
        name="nameOfThePerson"
        required
        #sendingAmountModel="ngModel">
    </p>
    <div class="field is-grouped">
      <p class="">
        <button
          [disabled]="!registerUser.valid"
          (click)="setUser()"
          class="btn btn-primary">
          Register New User
        </button>
      </p>
    </div>
  </form>
</div>

